/* global secion  */
header{
    background-color: #FFFBF0;
}
h2{
    font-size: 40px;
    color:#363958;
    font-family: 'Bebas Neue', cursive;
}
h4 , h5{
    font-family: 'Roboto', sans-serif;
    color:#363958;
    font-weight: 700;
}
p {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E
}
.button-background{
    background-color: #76C27E;
    font-family: 'Roboto', sans-serif;
}

 /* Nav-bar and header section */

.nav-item-color li{
    margin-left: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.logo-img{
    width: 210px;
    height: 39px;
}
.penguin-text-color, .winter-text-color{
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
}
.winter-text-color{
    color:#363958;
}

.display-img img{
   max-width: 100%;
}


/* Man and Woman jacket section */

.jacket-card{
    border: none;
    border-radius: 20px;
}
.jacket-card img{
    height: 300px;
    width: 200px;
    max-width: 100%;
  height: auto;
  background-color: #F1F1F1;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 2%;
  border-radius: 10px;
}

.price, .penguin-text-color{
    color: #FABE4C;
}

.jacket-card-footer{
    border: 0;
    background-color: white;
}

/* find and contact seller section */

.find-contact-seller{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* checkout section */

.checkout-background{
    background-color: #1E73BE;
}
.checkout-img img{
    max-width: 100%;
}
.checkout-option{
    color: white;
}

/* stay in touch */

.stay-touch{
    margin: 0;
}
.social-link{
    height: 20px;
}
.copyright{
    background-color: #0B1D2D;
}
address{
    font-family: 'Sofia', cursive;
}
